@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* font-weight: 600; */
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    /* margin: 10px auto ; */
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffe;
    flex: 1;
    color: #555;
    padding: 15px;
    border-radius: 30px;
    height: 50px;
    margin-right: 13px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffe;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.search button img{
    width: 18px;
}

.weather-icon{
    width: 180px;
    margin-top: 15px;
}

.weather h1{
    font-size: 70px;
    font-weight: 500;
    margin-top: -15px;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -20px;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;

}

.weather {
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    display: none;
}